<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/CSS/styles.css">
  <title>CopyCat</title>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
</head>

<body style="overflow-y: hidden;">
  <header class="header">
    <!-- left box for logo -->
    <div class="left" style="z-index: 2;">
      <img src="/static/images/logo.png" alt="">


    </div>


    <div class="mid">
      <ul class="navbar">
        <li><a href="#">Features</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact us</a> </li>
      </ul>
    </div>

    <!-- right box  -->
    <div class="right">
      <a href="/route"><button class="btn-1">get started</button></a>
      <button class="btn-2">Email Us</button>

    </div>

  </header>

  <div class="cir-left"></div>
  <div class="cir-right"></div>

  <div class="card">

    <div class="meet_cat">meet Cat, </div>
    <div class="orange_text">future of writing
    </div>

    <div class="line"></div>
    <div class="aidown">
      Artificial intelligence makes it fast & easy to create content for your blog, social media, website.
    </div>

  </div>

  <div class="typewriter-img">
    <img src="/static/images/typewriter_1.png" alt="typewriter-img">
  </div>




</body>

<footer>
  <div class="img_footer"><img src="/static/images/orange_cat.png" alt="orange_cat"></div>
  <div class="v1"></div>
  <div class="footer_text">&copy; 2022-2023 CopyCat</div>
  <div class="footer_btn">
    <a href="https://twitter.com">
      <button><img src="/static/images/twitter_cat.png" alt="twitter"></button>
    </a>
    <a href="https://facebook.com">
      <button>
        <img src="/static/images/facebook_cat.png" alt="facebook_cat">
      </button>
    </a>

    <a href="https://www.instagram.com">
      <button>
        <!-- <img src="insta_cat.png" alt="insta_cat"> -->
        <iconify-icon icon="mdi:instagram" style="color: white;" width="23" height="23"></iconify-icon>
      </button>
    </a>

    <a href="https:www.linkedin.com">
      <button>
        <iconify-icon icon="mdi:linkedin" style="color: white;" width="23" height="23"></iconify-icon>
      </button>
    </a>
  </div>
</footer>

</html>